body {
    color:white;
    background-color: #000000d8;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.idade{
    background-color: #CA7900;
    width: 400px;
    text-align: center;
    height: 120px;
    border-radius: 12px;
    
}
input {
    color: white;
    background-color: #CA7900;
    border: 5px solid white;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
    width: 30%;
}